{% extends "AppTransporte/padre.html" %}


{% load static %}

        {% block contenido2 %}
            <h1 class="mb-1">Detalle del chofer</h1>
        {% endblock %}


        {% block contenido %}


          <p>Nombre del chofer: <i> {{ chofer.nombre}}</i></p>
          <p>Apellido del chofer: <i> {{ chofer.apellido}}</i></p>
          <p>DNI: <i> {{ chofer.numeroDeDocumento}}</i></p>
          <p>N° de Licencia: <i> {{ chofer.numeroDeLicencia}}</i></p>

          <p>

            <a href="{% url 'List Chofer' %}">Regresar</a>

          </p>
         

        {% endblock %}