{% extends "AppTransporte/padre.html" %}


{% load static %}

        {% block contenido2 %}
            <h1 class="mb-1">Lista de choferes</h1>
        {% endblock %}


        {% block contenido %}

          <p>Acá tenemos todos los choferes:</p> <br>
          <ul>
            {% for chofer in object_list %}
            <li>

              <p>NOMBRE: {{ chofer.nombre}}</p>

              <p>
              <a href="{% url 'Detail Chofer' chofer.id %}">Ver más</a>              
              <a href="{% url 'Edit Chofer' chofer.id %}">Editar</a>
              <a href="{% url 'Delete Chofer' chofer.id %}">Borrar</a>

            </p>

            </li>

            {% endfor %}



          </ul>

          <a href="{% url 'New Chofer'  %}">Nuevo Chofer</a>
        

        {% endblock %}