{% extends "AppTransporte/padre.html" %}


{% load static %}

        {% block contenido2 %}
            <h1 class="mb-1">Lista de pasajeros</h1>
        {% endblock %}


        {% block contenido %}

          <p>Acá tenemos todos los pasajeros:</p> <br>
          <ul>
            {% for pasajero in object_list %}
            <li>

              <p>NOMBRE: {{ pasajero.nombre}}</p>

              <p>
              <a href="{% url 'Detail Pasajero' pasajero.id %}">Ver más</a>
              <a href="{% url 'Edit Pasajero' pasajero.id %}">Editar</a>
              <a href="{% url 'Delete Pasajero' pasajero.id %}">Borrar</a>

            </p>

            </li>

            {% endfor %}



          </ul>
         
          <a href="{% url 'New Pasajero'  %}">Nuevo Pasajero</a>

        {% endblock %}